{% extends 'layouts/base.html.twig' %}


{% block title %}All pins{% endblock %}

{% block body %}
 

<div class="example-wrapper">
     <h1> {{ pluralize(pins|length,'Pin') }}   </h1>
     {% for pin in pins %}
     <a href="{{ path('app_pins_show',{id: pin.id}) }}"> <h2>{{ pin.title }}</h2> </a>
        <p>{{ pin.description|u.truncate(10, '...', false) }}</p>
        <p>Publié il y'a {{ pin.createdAt|ago }}</p>
     {% endfor %}
</div>
{% endblock %}

