{% extends 'layouts/base.html.twig' %}


{% block title pin.title %}  

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<article>
    <h1>{{ pin.title}}</h1>
    <p>{{ pin.description }}</p>

</article>
<a href="{{ path('app_pins_edit',{id:pin.id} )}}"> Edit </a>
<a href="#" onclick="event.preventDefault; confirm('Etes vous sûr de vouloir supprimer') && document.getElementById('js_pin-delete').submit();"> Delete </a>
<a href="{{ path('app_home')}}">   Acceuil</a>

<form id="js_pin-delete" action="{{ path('app_pins_delete',{id:pin.id} )}}" method="POST" style="display: none;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id)}}">
    <input type="hidden" name="_method" value="DELETE">
</form>

{% endblock %}
