{% extends 'layouts/base.html.twig' %}


{% block title pin.title %}  

{% block body %}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">

    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"> {{ pin.title }}</h1>
      <p class="lead my-3"> {{ pin.description|u.truncate(50, '...', false) }}</p>
    </div>
  </div>
 
<div class="container">
    <div class=" mb-5 row">
       <div class="col-md-4">
          <article class="pin bg-white rounded shadow"  >
             <div class="mw-100 overflow-hidden">
                <a href="{{ path('app_pins_show',{id: pin.id}) }}">
                   <img class="w-100 rounded-top" src="{{ vich_uploader_asset(pin) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ pin.title }}">
                </a>
             </div>
             
             <a class=" h5 pt-4 text-primary text-muted text-decoration-none" href="{{ path('app_pins_show',{id: pin.id}) }}"> <h2>{{ pin.title }}</h2> </a>
             <p>{{ pin.description|u.truncate(10, '...', false) }}</p>
             <p>Publié il y'a {{ pin.createdAt|ago }}</p>
          </article>
       </div>
    </div>
     
 </div>


<article>
    <h1>{{ pin.title}}</h1>
    <p>{{ pin.description }}</p>

</article>
<a href="{{ path('app_pins_edit',{id:pin.id} )}}"> Edit </a>
<a href="#" onclick="event.preventDefault; confirm('Etes vous sûr de vouloir supprimer') && document.getElementById('js_pin-delete').submit();"> Delete </a>

<form id="js_pin-delete" action="{{ path('app_pins_delete',{id:pin.id} )}}" method="POST" style="display: none;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id)}}">
    <input type="hidden" name="_method" value="DELETE">
</form>

{% endblock %}
